
@{
    ViewData["Title"] = "Reset Password";
}

<p class="text-capitalize">FullName: @Model.FullName</p>
<p class="text-capitalize">Email: @Model.Email</p>
<p class="text-capitalize">Username: @Model.UserName</p>
<p class="text-capitalize">Role: @Model.Role</p>
@if (TempData["error"] != null)
{
    <div class="text-danger">@TempData["error"]</div>

}
<form method="post">
    <input type="password" name="NewPassword" placeholder="Enter New Password" />
    <button type="submit" class="btn btn-success">Change</button>
</form>
